@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kalameh";
  src: url("../fonts/Kalameh/Farsi_Numerals/WebFonts/fonts/woff2/KalamehWebFaNum-Regular.woff2");
}

body {
  direction: rtl;
  text-align: right;
  font-family: "Kalameh";
  background: #f7faff;
}

.p-datatable-tbody>tr>td {
  text-align: right !important;
}

.p-toast-close-button {
  right: unset !important;
  left: -25%;
}

.p-floatlabel {}

.p-floatlabel label {
  left: unset !important;
  right: var(--p-floatlabel-position-x);
}

.card-body {
  @apply bg-white p-5 rounded
}

.card-loading {
  position: relative;


}

.card-loading::after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
}


table {
  border: 1px solid;
  border-color: #bcccdc;
  border-radius: 8px;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: white;
}

thead {
  border-bottom: 1px solid;
  border-color: #bcccdc;
}

td,th {
  border: 1px solid;
  border-color: #bcccdc;
  padding: 1rem;
  text-align: center;
}