@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "Kalameh";
   src: url('../fonts/Kalameh/Farsi_Numerals/WebFonts/fonts/woff2/KalamehWebFaNum-Regular.woff2');
}

body {
   direction: rtl;
   text-align: right;
   font-family: "Kalameh";
   background: #F7FAFF;
}

.p-datatable-tbody>tr>td {
   text-align: right !important;
}

.p-toast-close-button {
   right: unset !important;
   left: -25%;
}